root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[**.iced]
indent_style = space
indent_size = 2

[**.js]
indent_style = space
indent_size = 2

[**.ts]
indent_style = space
indent_size = 2
