{
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {},
  "plugins": ["babel", "flowtype"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "babel/func-params-comma-dangle": 0,
    "comma-dangle": [2, "always-multiline"],
    "flowtype/require-valid-file-annotation": [2, "always", {"annotationStyle": "line"}],
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/space-before-generic-bracket": [2, "never"],
    "flowtype/union-intersection-spacing": [2, "always"],
    "flowtype/generic-spacing": [2, "never"],
    "flowtype/valid-syntax": [2],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/delimiter-dangle": [2, "always-multiline"],
    "flowtype/no-dupe-keys": 2,
    "flowtype/semi": [2, "never"],
    "jsx-quotes": [2, "prefer-single"],
    "no-duplicate-imports": 0,
    "standard/array-bracket-even-spacing": [2, "never"],
    "standard/computed-property-even-spacing": [2, "never"],
    "strict": [2, "global"]
  }
}
